@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Oswald;
  src: url("../assets/fonts/Oswald/static/Oswald-Regular.ttf");
}

@font-face {
  font-family: OpenSansBold;
  src: url("../assets/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSansRegular;
  src: url("../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url("../assets/fonts/Open_Sans/static/OpenSans-SemiBold.ttf");
}

:root {
  --textColor: #4c4d5f;
  --darkTextColor: #0d0d14;
  --greenBackground: #00b289;
  --darkGreenBackground: #0a896b;
  --whiteBackground: #ffffff;
}

.container-0 {
  background: linear-gradient(90deg, #fffde7 40%, transparent 40%),
              linear-gradient(-90deg, #e3f2fd 40%, transparent 20%);
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 100px 100px;
  border: 1px solid #e0e0e0;
  background-size: 100px 100px;
}


.container-1 {
  background: linear-gradient(135deg, #fffde7 40%, transparent 40%),
              linear-gradient(225deg, #e3f2fd 40%, transparent 20%);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 100px 100px;
  border: 1px solid #e0e0e0;
  background-size: 100px 100px;
}


.container-2 {
  background: linear-gradient(160deg, #fffde7 40%, transparent 40%),
              linear-gradient(330deg, #e3f2fd 40%, transparent 20%);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 100px 100px;
  border: 1px solid #e0e0e0;
  background-size: 100px 100px;
}

.container-3 {
  background: linear-gradient(135deg, #fffde7 40%, transparent 40%),
              linear-gradient(225deg, #e3f2fd 40%, transparent 20%);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 100px 100px;
  border: 1px solid #e0e0e0;
  background-size: 100px 100px;
}
