@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Amerigo;
  src: url("../assets/fonts/amerigo-bt-roman-font/amerigo-bt.ttf");
}

@font-face {
  font-family: ProximaBold;
  src: url("../assets/fonts/Proxima-Nova-Font-Family/Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: ProximaRegular;
  src: url("../assets/fonts/Proxima-Nova-Font-Family/Proxima-Nova-Regular.otf");
}

@font-face {
  font-family: ProximaSemiBold;
  src: url("../assets/fonts/Proxima-Nova-Font-Family/Proxima-Nova-SemiBold.otf");
}